{% if error %}
<p class="has-error">{{ error }}</p>
{% endif %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.non_field_errors %}
            <div class="nf-error">
            <ul class="errorlist">
                {% for error in fform.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            </div>
        {% endif %}
    {% for field in form %}
        {% if field.errors %}
      <div class="field error">
            <ul class="errorlist">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% else %}
      <div class="field">
        {% endif %}
            <p>
            <label class="mylabel">{{ field.label }}</label>
            {{ field }}
            <span class="helptext">{{ field.help_text|safe}}</span>
        </p>
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Reconstruct ancestral states</button>
  </form>

<script>
    document.getElementById('id_prediction_method').onchange = function () {
    if (this.value != "marginal_approx" && this.value !="max_posteriori" && this.value != "joint") {
        document.getElementById("id_model").disabled = true;
        document.getElementById("id_model").parentNode.style.opacity = "0.5";
    } else {
        document.getElementById("id_model").disabled = false;
        document.getElementById("id_model").parentNode.style.opacity = "1";
    }
}
</script>
{% endblock %}