{% if error %}
<p class="has-error">{{ error }}</p>
{% endif %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.non_field_errors %}
            <div class="nf-error">
            <ul class="errorlist">
                {% for error in fform.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            </div>
        {% endif %}
    {% for field in form %}
        {% if field.errors %}
      <div class="field error">
            <ul class="errorlist">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% else %}
      <div class="field">
        {% endif %}
            <p>
            <label class="mylabel">{{ field.label }}</label>
            {{ field }}
            <span class="helptext">{{ field.help_text|safe}}</span>
        </p>
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Reconstruct ancestral states</button>
  </form>

<p><i>(You can learn more about ancestor character prediction methods <a href="{% url 'pastmlapp:help' %}#acr" target="_blank">here</a>.)</i></p>

<script>

    function adjustModelToMethod(pm) {
        var m = document.getElementById("id_model");
        if (pm.value != "marginal_approx" && pm.value !="max_posteriori" && pm.value != "joint") {
            m.disabled = true;
            m.parentNode.style.opacity = "0.5";
        } else {
            m.disabled = false;
            m.parentNode.style.opacity = "1";
        }
    }

    var pm = document.getElementById('id_prediction_method');
    adjustModelToMethod(pm);
    pm.onchange = function () {
        adjustModelToMethod(this);
    }

    function adjustTitleToEmail(e) {
        var t = document.getElementById("id_title");
        if (e.value && e.value != "") {
            t.disabled = false;
            t.parentNode.style.opacity = "1";
        } else {
            t.disabled = true;
            t.parentNode.style.opacity = "0.5";
        }
    }

    var e = document.getElementById('id_email');
    adjustTitleToEmail(e);
    e.onchange = function () {
        adjustTitleToEmail(this);
    }
</script>
{% endblock %}