<div id="content">
<h2>Cite PastML</h2>
<p>If you find PastML useful, please cite it as:
    Ishikawa SA, Zhukova A, Iwasaki W, Gascuel O (2018) A Fast Likelihood Method to Reconstruct and Visualize Ancestral Scenarios <a href="https://doi.org/10.1101/379529" target="_blank">[bioRxiv]</a>.</p>

    <p>The data described in the article above are available
        <a href="https://github.com/saishikawa/PASTML/releases/tag/1.0" target="_blank">here (simulation study)</a>
    and <a href="https://github.com/evolbioinfo/cytopast/releases/tag/1.1" target="_blank">here (phylodynamic analysis of HIV-1C)</a>.</p>
</div>