<div id="content">
<h2>Cite PastML</h2>
<p>If you find PastML useful, please cite it as:
    Ishikawa SA, Zhukova A, Iwasaki W, Gascuel O (2019) <b>A Fast Likelihood Method to Reconstruct and Visualize Ancestral Scenarios</b>. <a href="https://doi.org/10.1093/molbev/msz131" target="_blank"><i>Molecular Biology and Evolution</i>, msz131</a>.</p>

    <p>The data described in the article above are available
        <a href="https://github.com/evolbioinfo/pastml/tree/1.9.15/examples/DENV2" target="_blank">here (phylogeography of Dengue serotype 2 epidemics)</a>,
        <a href="https://github.com/evolbioinfo/pastml/tree/1.9.15/examples/HIV1C" target="_blank">here (drug resistance mutations in HIV-1C)</a>,
        and <a href="https://github.com/saishikawa/PASTML/tree/simulations/examples/simulation" target="_blank">here (simulation study)</a>.</p>
</div>