<div id="content">
<h2>Cite PastML</h2>
<p>If you find PastML useful, please cite it as:
    Ishikawa SA, Zhukova A, Iwasaki W, Gascuel O (2018) A Fast Likelihood Method to Reconstruct and Visualize Ancestral Scenarios <a href="#">[Coming soon: a link to bioRxiv]</a>.</p>

    <p>The data described in the article above is available
        <a href="https://github.com/saishikawa/PASTML/blob/master/examples/Data_Simulation_Ishikawa_etal_2018.zip" target="_blank">here (simulation study)</a>
    and <a href="https://github.com/evolbioinfo/cytopast/tree/master/examples/HIV1C" target="_blank">here (phylodynamic analysis of HIV-1C)</a>.</p>
</div>