{% block content %}
<p> If you have any problem, suggestion, comment about PASTML, please send us an email via this web form,</p>
<p> or contact us directly: anna[dot]zhukova[at]pasteur[dot]fr, olivier[dot]gascuel[at]pasteur[dot]fr.</p>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.non_field_errors %}
            <div class="nf-error">
            <ul class="errorlist">
                {% for error in fform.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            </div>
        {% endif %}
    {% for field in form %}
        {% if field.errors %}
      <div class="field error">
            <ul class="errorlist">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% else %}
      <div class="field">
        {% endif %}
            <p>
            <label class="mylabel">{{ field.label }}</label>
            {{ field }}
            <span class="helptext">{{ field.help_text|safe}}</span>
        </p>
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
{% endblock %}