<div>
  <div style="float:right;">
    <img src="/static/img/full_pipeline.png" style="width:500px;"/>
  </div>
  <h2>About PastML</h2>
  <p>PastML infers ancestral states on a rooted phylogenetic tree with annotated tips, using maximum likelihood or parsimony.</p>
  <p>The result is then visualised as a zoomable html map.</p>
  <p>PastML code is open source and available on <a href="https://github.com/saishikawa/PASTML" target="_blank">GitHub</a>.</p>

  <h2>Try it now</h2>
  <p>You need two files to run PastTML: </p>
  <ul>
    <li>a rooted tree, in <a href="https://en.wikipedia.org/wiki/Newick_format" target="_blank">Newick</a> format;</li>
    <li>an annotation table specifying tip states, in <a href="https://en.wikipedia.org/wiki/Comma-separated_values" target="_blank">CSV</a> format.</li>
  </ul>
  <h2>Example data (HIV-1A in Albania)</h2>
  <p>If you prefer, try PastML on our example. This data set comes from the study by
    <a href="https://doi.org/10.1093/bioinformatics/btt010" target="_blank">Chevenet <i>et al.</i>, 2013</a>,
    which adopted the data from <a href="https://doi.org/10.1371/journal.pone.0001390" target="_blank">Salemi <i>et al.</i>, 2008</a> and includes</p>
  <ul>
    <li>a rooted HIV-1A tree with 152 tips,</li>
    <li>a comma-separated annotation file describing the Country of sampling for each tree tip.</li>
  </ul>
  <a class="btn btn-primary" href="{% url 'pastmlapp:pastml' %}" role="button">Run PastML</a>&nbsp;<a class="btn btn-primary" type="submit" onclick="window.open('/static/Albania.zip')" role="button">Download example data</a>
</div>