<div id="content">
<h2>Install PastML</h2>

<p>PastML is a python3 module that provides fast Ancestor Character Reconstruction and visualisation methods.
    Its source code is available on <a href="https://github.com/evolbioinfo/pastml" target="_blank">github</a>.</p>
<p>PastML is also available via <a href="https://www.docker.com/community-edition" target="_blank">docker</a>
    as <a href="https://hub.docker.com/r/evolbioinfo/pastml/" target="_blank">evolbioinfo/pastml</a>.</p>


<h3>Installation</h3>
    <p>To install PastML follow the instructions <a href="https://github.com/evolbioinfo/pastml" target="_blank">here</a>.
        It can be used within Python 3, command line or via docker.</p>
</div>