<div id="content">
<h2>Install PastML</h2>

<p>PastML is composed of two parts: the core C library that provides fast Ancestor Character Reconstruction (ACR) methods without visualisation,
    and a visualisation library <b>cytopast</b> written in Python 3.
    The latter wraps the core C library to allow for a seamless use of the whole functionality within Python 3 or from a command line.</p>
<p>PastML with visualisation is also available via <a href="https://hub.docker.com/r/evolbioinfo/pastml/" target="_blank">docker</a></p>


<h3>Install Cytopast: PastML with visualisation</h3>
    <p>To install PastML with visualisation follow the instructions <a href="https://github.com/evolbioinfo/cytopast" target="_blank">here</a>.
        It can be used with Python 3, command line or via docker.</p>

<h3>Install the core C library (without visualisation)</h3>
    <p>To install the core C library follow the instructions <a href="https://github.com/saishikawa/PASTML" target="_blank">here</a>.</p>
</div>